{% extends "admin/change_form.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <style>
        /* Nasconde le etichette vuote nel form di modifica */
        .field-download_link label,
        .field-view_link label,
        .field-rif_disposizione label {
            display: none;
        }
    </style>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/update_owner_fields.js' %}"></script>
    <script>
        var getUnitaOrganizzativeUrl = "{% url 'normativa:get_unita_organizzative' %}?legal_entity_id=LEGAL_ENTITY_ID";
    </script>
{% endblock %}

